.Icon {
  font-size: 13px;
}
.trans {
  transform: rotate(90deg);
  font-size: 11px;
  padding: 0px 10px 3px 10px;
  transition: 0.5s all;
  color: #32577d;
}
.ChevronRight {
  font-size: 11px;
  padding: 0px 10px 3px 10px;
  color: #32577d;
  transition: 0.5s all;
}

.TrashAlt {
  padding: 12px;
  margin-right: 15px;
  margin-bottom: 3px;
  font-size: 15px;
  color: #32577d;
  border-radius: 4px;
  transition: 0.2s all;
}
.TrashAlt:hover {
  color: #ffffff;
  background-color: #bb2a1a;
  cursor: pointer;
}
